@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));




@theme {
  --color-primary-0: #F5FCF5;
  --color-primary-1: #F0FBF1;
  --color-primary-2: #DAF6DB;
  --color-primary-3: #C2EFC3;
  --color-primary-4: #90E393;
  --color-primary-4_1: #64D767;
  --color-primary-5: #09C00E;
  --color-primary-6: #08A30C;
  --color-primary-7: #06880A;
  --color-primary-8: #056D08;
  --color-primary-9: #045606; 
  /* Neutrals */
  --color-neutral-0: #FFFFFF;
  --color-neutral-1: #F7F7F7;
  --color-neutral-2: #EAEAEA;
  --color-neutral-3: #BEBEBE;
  --color-neutral-4: #A1A1A1;
  --color-neutral-5: #585757;
  --color-neutral-6: #2E2D2D;
   /*Foundation  */
  --color-foundation-white: #FFFFFF;
  --color-foundation-black: #000000;
  /* Error */
  --color-error-1: #FEF3F2;
  --color-error-2: #FECDCA;
  --color-error-3: #F97066;
  --color-error-4: #F04438;
  --color-error-5: #D92D20;
  /* Warning */
  --color-warning-1: #FFFAEB;
  --color-warning-2: #FEDF89;
  --color-warning-3: #FEC84B;
  --color-warning-4: #F79009;
  --color-warning-5: #DC6803;
  /* Success */
  --color-success-2: #DAF6DB;
  --color-success-4: #90E393;
  --color-success-5: #09C00E; 
  --color-success-6: #08A30C;
}



